html, body {
  margin: 0;
  height: 100%;
}

body {
  font-size: 1rem;
}

.container {
  height: 100%;
  padding: 36px;
  max-width: 1200px;
  margin: auto;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-full {
  width: 100%;
}

.txt-input {
  display: block;
  padding: 8px;
  font-size: 1.2rem;
  width: 100%;
  max-width: 500px;
}

@media (max-width: 630px) {
}

button {
  font-size: 1.1rem;
}

.flex-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mt-sm {
  margin-top: 8px;
}

.mt-md {
  margin-top: 12px;
}

.ml-md {
  margin-left: 12px;
}
